.contacto{
    height: 105vh;
    background: rgb(0,0,0);
    background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
}

.form_container{
    width: 50%;
    float: left;
    height: calc(100% - 65px);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form_container .title-info{
    color: #fff;
    text-align: center;
    margin: 25px 0;
}

.error_enviar{
    display: inline-block;
    color: rgb(199, 80, 80);
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

.form_container input, .form_container textarea{
    display: block;
    margin: auto;
    width: 350px;
    margin-top: 15px;
    max-width: 350px;
    min-width: 350px;
    max-height: 212px;
    padding: 5px;
    padding-bottom: 2px;
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 1px solid #aaa;
}

.form_container textarea{
    min-height: 50px;
}



.form_container input::placeholder, .form_container textarea::placeholder{
    color: #ccc;
}

.form_container input:focus, .form_container textarea:focus, .form_container select:focus{
    outline: none;
}

.form_container option{
    color: #333;
}

.form_container button{
    display: block;
    width: 150px;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 1px 1px #efefef;
    cursor: pointer;
    transition: background .3s, color .3s;
}

.form_container input:focus, .form_container textarea:focus, .form_container select:focus{
    border-bottom: 1px solid #fff;
    transition: border .3s linear;
}

.form_container button:focus{
    outline: none;
}

.form_container button:hover{
    background-color: transparent;
    color: #efefef;
    transition: .3s;
}

/********************/

.more_info-container{
    float: right;
    width: 50%;
    height: calc(100% - 65px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ayuda_contacto{
    color: #fff;
    margin-top: 5px;
}


.email_img{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 15px;
}

.email_img img{
    width: 75px;
    filter: invert(100%);
}

.email_img img:hover{
    animation: mov_celular .5s linear normal forwards;
}

@keyframes mov_celular{
    0%{
        transform: rotateZ(0deg);
    }
    
    25%{
        transform: rotateZ(-25deg);
    }
    
    50%{
        transform: rotateZ(0deg);
    }
    
    75%{
        transform: rotateZ(25deg);
    }
    
    100%{
        transform: rotateZ(0deg);
    }
}

.ayuda_contacto p{
    width: 70%;
    margin: 25px auto;
    text-align: center;
}



/*******************************/

.redes_sociales{
    color: #fff;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.redes_sociales ul{
    position: relative;
    display: flex;
    z-index: 2;
}

.redes_sociales ul li{
    position: relative;
    margin: 10px;
}

.redes_sociales ul li a{
    position: relative;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2em ;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.4);
    border-right: 1px solid rgba(255,255,255,.4);
    border-bottom: 1px solid rgba(255,255,255,.4);
    box-shadow: 0 5px 45px rgba(0,0,0,0.1);
    backdrop-filter: blur(2px);
    transition: 0.5s;
    overflow: hidden;
}

.redes_sociales ul li a:hover{
    transform: translateY(-20px);
}


.redes_sociales ul li a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 100%;
    background: rgba(255,255,255,0.5);
    transform: skewX(45deg) translateX(150px);
    transition: 1s;

}

.redes_sociales ul li a:hover::before{
    transform: skewX(45deg) translateX(-150px);
}

.sobre_img{
    display: block;
    text-align: center;
}

.sobre_img img{
    filter: invert(100%);
    width: 75px;
}



/**** IOS *****/


@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) and (stroke-color:transparent) {
        .email_img{
            width: 100%;
            display: flex;
            justify-content: center;
        }
        
        .email_img img{
            width: 75px;
            max-height: 75px;
            object-fit: contain;
            filter: invert(100%);
        }
    }
}




/******************* RESPONSIVE **********************/











@media screen and (min-width:200px) and (max-width:700px){
    .contacto{
        height: fit-content;
        background: rgb(0,0,0);
        background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
    }
    
    .form_container{
        width: 100%;
        float: none;
        height: calc(100% - 65px);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    .sobre_img{
        display: block;
        text-align: center;
    }

    .sobre_img img{
        filter: invert(100%);
        width: 75px;
    }
    
    
    .form_container .title-info{
        color: #fff;
        text-align: center;
        margin: 25px 0;
        padding: 10px;
    }
    
    .form_container input, .form_container textarea, .form_container select{
        display: block;
        margin: auto;
        width: 350px;
        max-width: 350px;
        min-width: 350px;
        max-height: 212px;
        padding: 10px;
        background-color: transparent;
        color: #fff;
        border: none;
        border-bottom: 1px solid #ccc;
    }
    
    

    
    
    .form_container select{
        padding-left: 10px;
    }
    
    .form_container input::placeholder, .form_container textarea::placeholder{
        color: #ccc;
    }
    
    .form_container input:focus, .form_container textarea:focus, .form_container select:focus{
        outline: none;
    }
    
    .form_container option{
        color: #333;
    }
    
    .form_container button{
        display: block;
        width: 150px;
        margin: auto;
        margin-top: 15px;
        border-radius: 15px;
        padding: 5px;
        border: none;
        box-shadow: 0 0 1px 1px #efefef;
        cursor: pointer;
        transition: background .3s, color .3s;
    
    }
    
    .form_container button:focus{
        outline: none;
    }
    
    .form_container button:hover{
        background-color: transparent;
        color: #efefef;
        transition: .3s;
    }
    
    /********************/
    
    .ayuda_contacto{
        display: none;
    }
    

    
    /*******************************/
    .more_info-container{
        float:  none;
        width: 100%;
        height: calc(100% - 65px);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .redes_sociales{
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    
    .redes_sociales ul{
        position: relative;
        display: flex;
        z-index: 2;
    }
    
    .redes_sociales ul li{
        position: relative;
        margin: 10px;
    }
    
    .redes_sociales ul li a{
        position: relative;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 25px ;
        border-radius: 5px;
        border: 1px solid rgba(255,255,255,.4);
        border-right: 1px solid rgba(255,255,255,.4);
        border-bottom: 1px solid rgba(255,255,255,.4);
        box-shadow: 0 5px 45px rgba(0,0,0,0.1);
        backdrop-filter: blur(2px);
        transition: 0.5s;
        overflow: hidden;
    }
    
    .redes_sociales ul li a:hover{
        transform: translateY(-20px);
    }
    
    
    .redes_sociales ul li a::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 100%;
        background: rgba(255,255,255,0.5);
        transform: skewX(45deg) translateX(150px);
        transition: 1s;
    }
    .redes_sociales ul li a:hover::before{
        transform: skewX(45deg) translateX(-150px);
    }

    @-moz-document url-prefix() {
        .contacto{
            height: min-content;
        }
    }
}