body{
    scroll-behavior: smooth;
    display: block;
}

.title{
    padding: 15px;
    margin-left: 25px;
    padding-top: 25px;
}


.title h3{
    color: #fff;
    font-size: 20px;
    letter-spacing: 10px;
    position: relative;
    width: fit-content;
}

.title h3::before{
    content: "";
    width: 30%;
    height: 100%;
    padding-bottom: 15px;
    position: absolute;
    border-bottom: 1px solid yellow;
    transition: .5s;

}

.title h3:hover::before{
    width: 100%;
    transition: .5s;
}

.welcome-container{
    background-image: url('../Images/fondo/fondo_welcome.jpg');
    background-size: cover;
    background-color: #333;
    background-attachment: fixed;
    background-color: #333;
    position: relative;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.encabezado h2{
    font-size: 30px;
}

.encabezado p{
    font-size: 22px;
}

.encabezado h2, .encabezado p{
    font-family: 'Poppins', sans-serif;
}




