*{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 8px;
    background-color: #333;
}

body::-webkit-scrollbar-thumb{ /*barrita */
    background-color: #ccc;
    border-radius: 5px;
}

body::-webkit-scrollbar-thumb:hover{
    background-color: #aaa;
}




li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/**********************************/

header{
    position: fixed;
    color: #fff;
    width: 100%;
    z-index: 100;
}

.header-container{
    width: 70%;
    padding-top: 15px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 50%;
}

.logo img{
    border-radius: 50%;
}


.menu{
    height: fit-content;
}

.menu ul{
    display: flex;
}

.menu li a{
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px #fff;
    transition: background .3s ease-in, box-shadow .3s ease-in, color .3s ease-in;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu li a:hover{
    background-color: #ccc;
    box-shadow: none;
    color: #333;
    transition: background .3s ease-in, box-shadow .3s ease-in, color .3s ease-in;
}

.menu li{
    margin: 0 5px;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}


.visible{
    min-height:65px;
}

.visible:hover .hide{
    animation: visible_nav .3s ease-in forwards ;
}


.hide{
    position: absolute;
    right: 0;
    left: 0;
    animation: hide_nav .3s ease-in forwards;
}

@keyframes hide_nav{
    0%{
        top: 0%;
    }

    50%{
        top: -100%;
    }

    100%{
        top: -200%;
    }
}

@keyframes visible_nav{
    0%{
        top: -200%;
    }

    50%{
        top: -100%;
    }

    100%{
        top: 0%;
    }
}


.responsive_menu_container{
    display: none;
}

.menu_responsive{
    display: none;
}






/*****************   RESPONSIVE  ********************/





@media screen and (min-width:200px) and (max-width:700px){
    header{
        width: 100vw;
        position: fixed;
        color: #fff;
        z-index: 100;
        margin-top: 15px;
    }
    .header-container{
        display: none;
    }

    .responsive_menu_container{
        display: block;
    }

    .modal{
        display: none;
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        opacity: 0;
        z-index: 50;
    }
    
    .res_header-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin: auto;
    }

    .res_logo{
        width: 50px;
        display: flex;
        align-items: center;
        margin-left: 20px;
    }

    .logo_menu{
        height: 100%;
        font-size: 25px;
        display: flex;
        align-items: center;
        margin-right: 20px;
    }

    .menu_responsive{
        display: none;
        /* display: flex; */
        justify-content: flex-end;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: 400;
        color: #fff;
    }

    .menu_res-container{
        display: none;
        width: 80%;
        background-color: #333;
        height: 100vh;
        border-left: 3px solid #fff;
        z-index: 60;
        margin-right: 0%;
        z-index: 51;
        
    }

    .res_close{
        height: 8%;
        display: flex;
        align-items: center;
    }

    

    .res_close i{
        margin-left: 15px;
    }

    .menu_res-container ul{
        height: min-content;
        text-align: center;
        border-top: 1px solid #ccc;
    }

    .menu_res-container ul li{
        width: 100%;
    }

    .menu_res-container ul li a{
        display: inline-block;
        width: 100%;
        padding: 25px 0;
    }

    .menu_res-container ul li a:hover{
        background-color: rgb(180, 143, 22);
    }


    @keyframes abrirMenu {
        0%{
            margin-right: -100%;
        }

        100%{
            margin-right: 0%;
            
        }
    }

    @keyframes cerrarMenu {
        0%{
            margin-right: 0%;
        }

        100%{
            margin-right: -100%;
        }
    }

    @keyframes modal{
        0%{
            opacity: 0;
        }

        100%{
            opacity: .5;
        }
    }


    @keyframes hideMenuRes {
        0%{
            margin-top: 0%;
        }

        100%{
            margin-top: -100%;
        }
    }

    @keyframes visibleMenuRes {
        0%{
            margin-top: -100%;
        }

        100%{
            margin-top: 0%;
        }
    }
}