*{
    font-family: 'Poppins', sans-serif;
}



li{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

/**********************************/

header{
    position: fixed;
    color: #fff;
    width: 100%;
    z-index: 10000000;
    margin-top: 15px;
}

.header-container{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo{
    width: 50px;
    display: flex;
    align-items: center;
    margin-left: 20px;
    border-radius: 50%;
}

.logo img{
    border-radius: 50%;
}


.menu{
    height: fit-content;
}

.menu ul{
    display: flex;
}

.menu li a{
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 0 0 1px 1px #fff;
    transition: background .3s ease-in, box-shadow .3s ease-in, color .3s ease-in;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.menu li a:hover{
    background-color: #ccc;
    box-shadow: none;
    color: #333;
    transition: background .3s ease-in, box-shadow .3s ease-in, color .3s ease-in;
}

.menu li{
    margin: 0 5px;
}

.non-selectable {
    -moz-user-select: none; 
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}