.about_us-container{
    position: relative;
    background: rgb(0,0,0);
    background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
    box-shadow: 25px 0 25px 1px #333;
}

/***************** SOBRE NOSOTROS **************************/

.informacion-container{
    color: #fff;
    width: 100%;
    margin-top: 25px;
}
/***************/
.about_us-block{
    display: flex;
}

.about_us{
    width: 50%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about_us h4{
    position: relative;
}


.about_us p{
    margin-top: 15px;
    line-height: 20px;
}

.imagen_1{
    width: 50%;
    display: flex;
    justify-content: center;
}

.imagen_1 img{
    width: 85%;
}

/*************/



.why-block{
    display: flex;
    margin-top: 35px;
}

.why{
    width: 60%;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.why .text{
    margin-top: 15px;
}

.why .text p{
    margin-bottom: 10px;
    line-height: 20px;

}

.imagen_2{
    margin-left: 35px;
    width: 40%;
}

.imagen_2 img{
    width: 100%;
}


/************/

.goals-block{
    display: flex;
    margin-top: 35px;

}

.goals{
    width: 50%;
    margin-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.goals .text{
    margin-top: 15px;
}

.goals .text p{
    margin-bottom: 10px;
    line-height: 20px;

}

.imagen_3{
    width: 50%;
    display: flex;
    justify-content: center;
}

.imagen_3 img{
    width: 50%;
    filter: brightness(.85);
}


/******************/


.read_container{
    width: 100%;
    text-align: center;
    padding-bottom: 35px;
}
.read_more{
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #ccc;
    font-size: 20px;
    transition: .5s;

}

.read_more:hover{
    background-color: #ccc;
    color: #000;
    transition: .5s;
}



/********************  RESPONSIVE  *******************/










@media screen and (min-width:200px) and (max-width:700px){
    /*********************/
    .about_us-block{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }

    .about_us{
        width: 90%;
        margin: auto;
        display: inline-block;
    }

    .about_us h4{
        position: relative;
        font-size: 25px;
    }


    .about_us p{
        margin-top: 15px;
        line-height: 20px;
        font-size: 18px;
    }

    .imagen_1{
        width: 100%;
        display: inline-block;
        margin-top: 25px;
    }

    .imagen_1 img{
        width: 85%;
        border-radius: 25px;
    }

    /*************/



    .why-block{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        text-align: center;
        margin-top: 55px;
    }

    .why{
        width: 90%;
        margin: auto;
        display: inline-block;
    }

    .why h4{
        font-size: 25px;
    }

    .why .text{
        margin-top: 15px;
    }

    .why .text p{
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 18px;

    }

    .imagen_2{
        margin-left: 0px;
        width: 100%;
        margin-top: 25px;
    }

    .imagen_2 img{
        width: 85%;
        border-radius: 25px;
    }

    /************/

    .goals-block{
        display: inline-block;
        width: 100%;
        text-align: center;
        margin-top: 55px;
    }

    .goals{
        width: 90%;
        margin: auto;
        display: inline-block;
    }

    .goals h4{
        font-size: 25px;
    }

    .goals .text{
        margin-top: 15px;
    }

    .goals .text p{
        margin-bottom: 10px;
        line-height: 20px;
        font-size: 18px;

    }

    .imagen_3{
        margin-left: 0px;
        width: 100%;
        margin-top: 25px;
    }

    .imagen_3 img{
        width: 55%;
        border-radius: 25px;
        filter: brightness(.85);
    }


    /******************/


    .read_container{
        width: 100%;
        text-align: center;
        padding-bottom: 35px;
        margin-top: 55px;
    }
    .read_more{
        display: inline-block;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 10px;
        color: #ccc;
        font-size: 25px;
        transition: .5s;

    }

    .read_more:active{
        background-color: #ccc;
        color: #000;
        transition: .5s;
    }
}