/***************** PORTAFOLIO **************************/

.portafolio{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
    box-shadow: 25px 0 25px 1px #333;
}



.portafolio-proyectos{
    width: 85%;
    margin: auto;
    margin-top: 25px;
    display: table;
    text-align: center;
}

.proyecto{
    display: inline-table;
    width: 250px;
    height: 250px;
    position: relative;
    margin: 5px;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    backface-visibility: hidden;
    transition: .8s;
    transform-style: preserve-3d;
    z-index: 1000;
}

.front img{
    width: 100%;
}

.flipcard{
    position: relative;
    transition: .8s;
    transform-style: preserve-3d;
}

.back{
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transition: .8s;
    transform-style: preserve-3d;
    z-index: 999;
    transform: rotateY(180deg);
}

.back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.proyecto:hover .front{
    transform: rotateY(-180deg);
}

.proyecto:hover .back{
    transform: rotateY(0deg);
}

@media screen and (min-width:700px){
    .ver_mas{
        display: none !important;
    }
}










/****************    RESPONSIVE   *****************/










@media screen and (min-width:200px) and (max-width:700px){
    .portafolio{
        height: fit-content;
        background: rgb(0,0,0);
        background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
        box-shadow: 25px 0 25px 1px #333;
        padding-bottom: 25px;

    }
    
    
    
    .portafolio-proyectos{
        display: block;
        width: 85%;
        margin: auto;
        margin-top: 25px;
        text-align: center;
        max-height: 500px;
        overflow: hidden;
        position: relative;
    }
    
    .proyecto{
        width: 200px;
        height: 200px;
        position: relative;
        margin: 5px;
        perspective: 1000px;
        transform-style: preserve-3d;
    }
    
    .front{
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: pointer;
        backface-visibility: hidden;
        transition: .8s;
        transform-style: preserve-3d;
        z-index: 1000;
    }
    
    .front img{
        width: 100%;
    }
    
    .flipcard{
        position: relative;
        transition: .8s;
        transform-style: preserve-3d;
    }
    
    .back{
        width: 200px;
        height: 200px;
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        transition: .8s;
        transform-style: preserve-3d;
        z-index: 999;
        transform: rotateY(180deg);
    }
    
    .back img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .proyecto:hover .front{
        transform: rotateY(-180deg);
    }
    
    .proyecto:hover .back{
        transform: rotateY(0deg);
    }

    .ver_mas{
        display: none;
        align-items: flex-end;
        justify-content: center;
        position: absolute;
        bottom: 0;
        left: 30px;
        right: 30px;
        height: 50px;
        background: rgb(246,246,246);
        background: linear-gradient(180deg, rgba(246,246,246,0) 0%, rgba(21,143,150,1) 76%);       
        z-index: 1;
    }

    .ver_mas p{
        font-size: 20px;
        color: #fff;
        margin-bottom: 5px;
    }

    @-moz-document url-prefix() {
        .portafolio{
            height: min-content;
        }
    }
}
