.servicio{
    height: 100vh;
    background: rgb(0,0,0);
    background: linear-gradient(255deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 97%);
    box-shadow: 25px 0 25px 1px #333;
}

.service-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 250px 250px;
    gap: 15px;
}

.card-service{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-contain{
    text-align: center;
    color: #fff;
}


.card-service .img_service{
    width: 100%;
}

.img_service img{
    width: 50px;
    filter: invert(100%);
}

.img_service img:hover{
    animation: iconos .8s linear normal forwards;
    animation-play-state: running;
}

@keyframes iconos{
    0%{
        transform: rotateZ(0deg);
    }

    25%{
        transform: rotateZ(-45deg);
    }

    50%{
        transform: rotateZ(0deg);
    }

    75%{
        transform: rotateZ(45deg);
    }

    100%{
        transform: rotateZ(0deg);
    }
}
